*{
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: rgb(199, 204, 248);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}
.header {
    position: sticky;
    background: rgba(1, 28, 78, 0.897);
    color:lavenderblush;
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: justify;
}
.footer {
    font-size: 10px;
    text-align: justify;
    background: rgb(22, 25, 75);
    color:lavenderblush;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky bottom;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.nav-list {
    list-style-type: none;
    overflow: hidden;
}
.list-item {
    float: left;
}

.section-profile {

}
.section-contacts {

}
.section-summary {

}
.section-skills{

}
.section-projects {

}
.section-snippet {

}
.section-language {

}
.section-courses {

}
.section-education {

}
.section-qualities {

}
.img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    aspect-ratio: 1;
}

